embeddings/data

attention/model_01.pth
attention/model_1000.pth
attention/model_2000.pth
attention/model_3000.pth
attention/model_4000.pth
attention/model_5000.pth
attention/model_6000.pth
attention/model_7000.pth
attention/model_8000.pth
attention/model_9000.pth
attention/model_10000.pth
embeddings/logs/train/events.out.tfevents.1714238267.LANOV-ROG-G14.5192.0.v2
embeddings/logs/train/events.out.tfevents.1714238569.LANOV-ROG-G14.13660.0.v2
embeddings/logs/train/events.out.tfevents.1714240824.LANOV-ROG-G14.29392.0.v2
embeddings/logs/validation/events.out.tfevents.1714231469.LANOV-ROG-G14.7600.1.v2
embeddings/logs/validation/events.out.tfevents.1714232713.LANOV-ROG-G14.25168.1.v2
embeddings/logs/validation/events.out.tfevents.1714234912.LANOV-ROG-G14.1780.1.v2
embeddings/logs/validation/events.out.tfevents.1714238159.LANOV-ROG-G14.15944.1.v2
embeddings/logs/validation/events.out.tfevents.1714238285.LANOV-ROG-G14.5192.1.v2
embeddings/logs/validation/events.out.tfevents.1714238588.LANOV-ROG-G14.13660.1.v2
embeddings/logs/validation/events.out.tfevents.1714241366.LANOV-ROG-G14.29392.1.v2
clustering2d.png
elbow_for_k.png
loss_gpt.png
ss_for_k.png
embeddings/cluster_3d_tsne.gif
embeddings/contexts.npy
embeddings/corpus.txt
embeddings/data.csv
embeddings/labels.npy
embeddings/metadata.tsv
embeddings/targets.npy
embeddings/vectors.tsv
embeddings/weights/track_uri_to_album_name.json
embeddings/weights/track_uri_to_artist_name.json
embeddings/weights/track_uri_to_track_name.json
embeddings/weights/vocab.npy
embeddings/weights/weights.npy
non-neural/output.png
non-neural/data/artists.csv
non-neural/data/dict_artists.json
non-neural/data/normalized_tracks.csv
non-neural/data/tracks.csv
submission/challenge_set.json
submission/md5
submission/sample_submission.csv
